.wrapper{
	width: 634px;
	margin: 0px auto;
}

#slider {
	width: 700px;
	height: 939px;
	overflow: hidden;
	margin: 30px auto;
}

#slider > img {
	width: 634px;
	height: 939px;
	float: left;
	display: none;
}

a {
	text-decoration: none;
	background-color: #f0f0f0;
	padding: 5px 10px;
	margin-top: 30px;
	color: #666;
	margin-bottom: 20px;
	font-size: 22px;
}

a.left {
	float: left;
	margin-left: -158px;
	margin-top: -430px;
}

a.right {
	float: right;
	margin-right: -135px;
	margin-top: -430px;
}